* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  border: 2px solid black;
  border-radius: 30px;
}
.head__figCont {
  margin: 0;
  padding: 0;
  max-width: 1024px;
  min-width: 310px;
}
.figCont--perf {
  width: 200px;
  height: 200px;
  padding-top: 0.5em;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.head__figCont--span {
  text-align: center;
  margin: 1em;
}
.figCont--nom {
  display: inline-block;
  font-size: xx-large;
  padding-bottom: 15px;
  font-weight: 700;
}
nav {
  background-color: lightseagreen;
  padding: 5px;
  margin-top: 1em;
}
.nav--lis {
  list-style: none;
  text-align: center;
  padding: 0;
}
.nav--li {
  display: inline;
  padding: 1em;
}
.material-symbols-outlined {
  width: min-content;
  /* margin-right: 0.25em; */
}
#li-l {
  display: block;
}
main {
  display: grid;
  margin: 5px 15px;
  text-align: justify;
}
.formacion--i {
  display: block;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
}
.uno--fecha {
  font-weight: 900;
  padding: 10px;
  translate: -10%;
}
.habildiades--tabla {
  text-align: center;
}
.laboral--e {
  display: block;
  font-style: italic;
  text-align: center;
}
.h2 {
  text-align: center;
}
footer {
  background-color: rgba(128, 128, 128, 0.665);
  background-image: url(../img/1.png);
/*   background-position-x: center;
  background-position-y: center;
  background-blend-mode: multiply; */
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: grid;
  place-content: center;
  place-items: center;
}
a {
  text-decoration: none;
}
.fa {
  color: #4b4b4b;
  font-size: 5em;
}
.fa-u {
  padding-right: 0.5em;
}
.fa-instagram {
  display: block;
  display: grid;
  place-content: center;
  place-items: center;
  margin-bottom: 0.2em;
}
form {
  background-color: rgba(37, 94, 91, 0.534);
  border-radius: 30px;
  padding: 1em;
  margin-bottom: 1em;
  display: grid;
  text-align: center;
}
button {
  margin: 1em;
  border-radius: 1em;
  text-align: center;
}

@media screen and (min-width: 537px) and (max-width: 768px) {
  /*  header {
    grid-area: header;
  }
  .head__figCont{
    width: 20%;
  }
  .figCont--perf {
    width: 80%;
    border-radius: 50%;
  }
  .figCont--nom {
    width: max-content;
    font-size: 20px;
    position: relative;
    left: 150%;
    transform: translateY(-250%);
  }
  .head--lis {
    list-style: none;
    display: none;
  }*/

  .figCont--nom {
    display: block;
    font-size: xx-large;
    padding-bottom: 15px;
    font-weight: 700;
  }
  .article__C--laboral,
  .article__C--formación {
    display: grid;
    place-content: center;
    grid-template-columns: 240px 240px;
    grid-template-columns: auto;
    gap: 35px;
  }
  .habildiades--tabla {
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
  }
  .hla {
    width: 50%;
  }
  footer {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  form{
    background-color: rgba(37, 94, 91, 0.534);
    margin-top: 1em;
  }
}
/*
@media screen and (min-width: 769px) and (max-width: 1440px) {
  body {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "main main main main"
      "footer footer footer footer";
  }
  header {
    grid-area: header;
  }
  .head__figCont {
    text-align: center;
  }
  .figCont--perf {
    max-width: 30%;
    border-radius: 50%;
  }
  .figCont--nom {
    font-style: oblique;
    font-weight: 900;
    font-size: 30px;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
    width: 80%;
  }
  .article__C--laboral,
  .article__C--formación {
    display: grid;
    place-content: center;
    grid-template-columns: 380px 380px;
    gap: 35px;
  }
  .habildiades--tabla {
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
  }
  .hla {
    width: 50%;
  }
  .tt,
  .fa {
    font-size: 24px;
    margin: 5px 5px;
    display: grid;
    place-content: center;
    place-items: center;
  }
  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .t2 {
    grid-column: 1/4;
    text-align: center;
  }
  form {
    grid-column: 1;
  }
} */
